<div id="cart">
    Checkout: $0.00
</div>

<article>
    <section>
        <div id="order-info" class="textbox">
            <h2>Please get in touch!</h4>
            <p>Interested in our services? Get in touch with us via the form below or call us and we'll get back to you as soon as possible!</p>

            <h2>ORDER ONLINE!</h2>
            <p>
                Here you can pick your cupcake designs and order the amount you want. Once you have placed your order, further contact will be made to you by us to confirm details.
                <br>
                <strong>If you wish to purchase 50 or more cupcakes, please contact us directly so we can organise a cheaper price for you.</strong>
            </p>

            <p>
                <u>Delivery-we drive the cakes to you!</u>
                <br>
                We offer free delivery to Epping, South Morang, Mill Park, Thomastown, Greensborough, Lalor, Mill Park Lakes, Bundoora, Preston.
                <br>
                A small fee may apply for delivery to areas outiside of these suburbs.
                <br>
                Pick up is also available.
            </p>

            <p>
                <u>Special orders</u>
                <br>
                Cant find what you want? Contact us to see if we can bring your ideas to life!
                <br>
                We also can provide Cupcake stands, wrappers, candles and other decorations. Simply contact us with your theme, and accessory request and we will get back to you with a quoted price.
            </p>
        </div>

        <section id="menu">
        <!-- this should be dynamic, PHP inserting what's available from the DB in here -->
            <ul class="clearfix">
                <% @items.each do |item| %>
                    <li id="<%= item.name.gsub(/[ &]/, '-').downcase %>">
                        <a class="menu-item"><%= item.name %> <%= number_to_currency(item.price.to_f / 100, :unit => '$') %></a>
                        <div class="menu-item-description">
                            <% if item.image %>
                                <%= image_tag('cupcakes/' + item.image, :alt => item.name + 'Cupcake Photo') %>
                            <% end %>
                            <% if item.description %>
                                <p><%= item.description %></p>
                            <% end %>
                            <p>Decoration such as sprinkles, silver balls, flowers can be added if requested. Add-On price will be  subject to request and quoted on enquiry.</p>
                            <p>Would you like a decoration on your cake? Add-on prices upon request</p>
                            <textarea name="instructions"></textarea>
                            Amount: <input type="number" name="amount" min="0" value="0"> <div class="excess-order">* Please Contact Us Directly About This Order</div>
                        </div>
                    </li>
                <% end %>
                <li><%= image_tag('cupcakes/stylized/cupcake-character-eat.png', :alt => 'Cupcake Character Eating') %></li>
            </ul>
        </section>
    </section>
</article>
